.profile-container {
    font-family: 'Segoe UI', sans-serif;
    padding: 0 150px 40px;
    background: #ede8e8;
  }
  
  .profile-header {
    
    color: #3862bd ;
    padding: 20px;
    max-width: 100%;
    text-align: center;
  }
  
  .profile-header p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .account-wrapper {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .sidebar {
    width: 220px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 16px 20px;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
  }
  
  .sidebar li:hover,
  .sidebar .active {
    background-color: #e0f9f9;
    font-weight: bold;
  }
  
  .profile-content {
    flex: 1;
    padding: 30px 40px;
    background-color: #fff;
  }
  
  .profile-content h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile-content label {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  .profile-content input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-content input[disabled] {
    background-color: #f5f5f5;
    color: #999;
  }
  
  .profile-content button {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #303f9f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-content button:hover {
    background-color: #11678f;
  }
  